@model IEnumerable<Music>

<h2>Music</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Artist Name</th>
        <th>Album Name</th>
        <th>Year Released</th>
        <th>Genre</th>
        <th>My Rating</th>
    </tr>

    @foreach (var music in @Model)
    {
        <tr>
            <td><a href=/Music/ViewMusic/@music.ID>@music.ID</a></td>
            <td>@music.ArtistName</td>
            <td>@music.AlbumName</td>
            <td>@music.YearReleased</td>
            <td>@music.Genre</td>
            <td>@music.MyRating</td>
        </tr>
    }

</table>
