@model Music

<h3>@Model.ID Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Artist Name</th>
        <th>Album Name</th>
        <th>Year Released</th>
        <th>Genre</th>
        <th>My Rating</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.ArtistName</td>
        <td>@Model.AlbumName</td>
        <td>@Model.YearReleased</td>
        <td>@Model.Genre</td>
        <td>@Model.MyRating</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Music/UpdateMusic/@Model.ID">Edit this entry</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteMusic", "Music", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>