@model Music

<h3>@Model.ArtistName Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Artist Name</th>
        <th>Album Name</th>
        <th>Year Released</th>
        <th>Genre</th>
        <th>My Rating</th>
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.ArtistName</td>
        <td>@Model.AlbumName</td>
        <td>@Model.YearReleased</td>
        <td>@Model.Genre</td>
        <td>@Model.MyRating</td>
    </tr>
</table>